# Configuration file

general {
    # Отключить блюр рендера от эффекта "затуманенное зрение" [default: false]
    B:disableBlurred=false

    # Отключить рендер тумана от древних стражей [default: false]
    B:disableFog=false

    # Отключить пасхалки на хэллоуин (в самом Thaumcraft это лишь рендер жезлов в виде тыквы) [default: false]
    B:disableHalloweenEffects=false

    # Отключить изменение цвета мира от эффекта "странный голод" [default: false]
    B:disableHungerVision=false

    # Отключить яркость зрения от эффекта "солнечная болезнь" [default: false]
    B:disableSunScorned=false

    # Отключить рендер виньетки от эффекта "смертельный взгляд" [default: false]
    B:disableWarpVignette=false

    # Максимальный размер узла аура при его рендере
    # Защищает от низкого FPS и плохой видимости при наличии узлов на 500+ аспектов [range: 0.5 ~ 1.0E10, default: 1.0]
    S:maxVisualNodeSize=1.0

    # Регистрация FluxGas как жидкости (защита от краша с раздатчиком) [default: false]
    B:registerFluxGas=false
}


