# Configuration file

general {
    # Включить освещение от машин (На сервере должно быть то же значение, чтобы избежать рассинхронизации) [default: false]
    B:enableLighting=false

    # Исправление максимального subId некоторых предметов (фикс получения творческих предметов через наковальню) [default: false]
    B:fixMaxDamage=false

    # Исправление максимального размера стака некоторых предметов [default: false]
    B:fixMaxStackSize=false

    # Проверять наличие обновлений [default: false]
    B:updateCheck=false
}


