# Configuration file

general {
    # Кулдаун перерассчета информации в рендере подсказки. Должен быть синхронизирован с сервером для получения актуального значения. [range: 1 ~ 2147483647, default: 19]
    I:syncCooldown=20
}


