# Configuration file

general {
    # ID for standart WorldEngine biome
    I:WEBiomeID=152

    # Set this to true to allow registering duplicated biome ids
    B:biomeDuplication=false

    # Set this to true for clear, transparent water
    B:clearWater=true

    # Set this to true to allow taking damage in creative
    B:creativeDamage=false

    # Region security manager
    S:interactionSecurity=default

    # ID for lightning bolt entity
    I:lightningID=150

    # How many [any] particles can there be at one time (defaults to vanilla value)
    I:maxParticles=4000

    # Set this to true to disable closing GUI when entering nether portal
    B:portalHook=true

    # Set this to true to allow registering duplicated potion ids
    B:potionDuplication=false

    # Set this to false to disable void fog
    B:voidFog=true
}


