# Configuration file

general {
    # Экспериментальный фикс смерти от Сигилов (при 0 количестве крови) (дюп) [default: true]
    B:asyncDeath=true

    # 'Безопасный' способ нанесения урона [default: true]
    B:asyncDeathSafe=true

    # Экспериментальный фикс смерти от Жертвенного кинжала (нужно включить asyncDeath) [default: false]
    B:daggerFixDeath=false
}


