# Configuration file

alfheim-market {
    # The amount of mana used in alfheim market to trade items [range: 1 ~ 2147483647, default: 500]
    I:recipe-cost=500
}


##########################################################################################################
# max-mana-capacity
#--------------------------------------------------------------------------------------------------------#
# The default amount of mana capacity in each machine.
##########################################################################################################

max-mana-capacity {
    #  [range: 1 ~ 2147483647, default: 1000000]
    I:alfheim-adv-market=1000000

    #  [range: 1 ~ 2147483647, default: 100000]
    I:alfheim-market=100000

    #  [range: 500000 ~ 2147483647, default: 10000000]
    I:industrial-agglomeration-adv-factory=10000000

    #  [range: 500000 ~ 2147483647, default: 1000000]
    I:industrial-agglomeration-factory=1000000

    #  [range: 1 ~ 2147483647, default: 10000000]
    I:mana-battery=10000000

    #  [range: 1 ~ 2147483647, default: 100000]
    I:mechanical-brewery=100000

    #  [range: 1 ~ 2147483647, default: 1000000]
    I:mechanical-mana-adv-pool=1000000

    #  [range: 1 ~ 2147483647, default: 100000]
    I:mechanical-mana-pool=100000

    #  [range: 1 ~ 2147483647, default: 250000]
    I:mechanical-runic-altar=250000

    #  [range: 1 ~ 2147483647, default: 400000]
    I:mechanical-runic-altar-adv=20000000
}


##########################################################################################################
# working-duration-multiplier
#--------------------------------------------------------------------------------------------------------#
# The default duration multiplied with this will be the used working duration.
##########################################################################################################

working-duration-multiplier {
    #  [range: 1 ~ 50, default: 1]
    I:alfheim-market=1

    #  [range: 1 ~ 10000, default: 1]
    I:industrial-agglomeration-factory=1

    #  [range: 1 ~ 2147483647, default: 1]
    I:mechanical-apothecary=1

    #  [range: 1 ~ 50, default: 1]
    I:mechanical-brewery=3

    #  [range: 1 ~ 2147483647, default: 3]
    I:mechanical-daisy=0

    #  [range: 1 ~ 2147483647, default: 1]
    I:mechanical-mana-pool=0

    #  [range: 1 ~ 100, default: 1]
    I:mechanical-runic-altar=1

    #  [range: 1 ~ 200, default: 1]
    I:mechanical-runic-altar-adv=2
}


