# Configuration file

balance {
    I:draconicStaffMaxDigAOEUpgradePoints=5
    I:draconicStaffMaxDigDepthUpgradePoints=11
    I:draconicToolsMaxDigAOEUpgradePoints=4
    I:draconicToolsMaxDigDepthUpgradePoints=5
    I:draconicToolsMaxDigSpeedUpgradePoints=32
    I:draconicToolsMinDigSpeedUpgradePoints=5
    I:pickaxeMaxRange=11
    I:staffMaxRange=11

    # [Pa4ok] Использовать новые параметры для настройки инструментов (3x3x1, 5x5x1, 9x9x2) [default: false]
    B:useNewToolsStats=false
    I:wyvernToolsMaxDigAOEUpgradePoints=2
    I:wyvernToolsMaxDigSpeedUpgradePoints=16
    I:wyvernToolsMinDigSpeedUpgradePoints=4
}


general {
    # Включить изменялку времени
    # Значение на сервере должно совпадать с этим [default: true]
    B:enableSunDial=true

    # Раз во сколько суток солнечные часы не могут пропускать день
    # 0 - отключает эту опцию
    # Значение на сервере должно совпадать с этим [range: 0 ~ 2147483647, default: 5]
    I:sunDialBlockDayPeriod=5

    # Раз во сколько суток солнечные часы не могут пропускать ночь
    # 0 - отключает эту опцию
    # Значение на сервере должно совпадать с этим [range: 0 ~ 2147483647, default: 5]
    I:sunDialBlockNightPeriod=5

    # Радиус, в котором должен находиться хотя бы 1 игрок для работы солнечных часов. Если игрока в этом радиусе нет - часы не работают. 0 - отключает эту опцию
    # Значение на сервере должно совпадать с этим [range: 0 ~ 2147483647, default: 32]
    I:sunDialRequirePlayerRadius=32
}


