# Configuration file

general {
    # Charge speed modifier per tier FusionCraftingCore [range: 1 ~ 2147483647, default: 80]
    I:charge-speed-modifier-per-tier=80

    # Progress speed per tick FusionCraftingCore [range: 1 ~ 32767, default: 2]
    I:progress-speed=2

    # Search injectors range FusionCraftingCore [range: 1 ~ 32767, default: 5]
    I:search-injectors-range=5
}


