# Configuration file

general {
    # Удаление специальных поисков для неи, добавляемых модом [default: false]
    B:disableMatchersNEI=false

    # Сокрытие заполненных жидкостями барабанов в NEI и креативном поиске [default: true]
    B:hideFilledDrums=true

    # Сокрытие микроблоков в NEI и креативном поиске (останутся только микроблоки из камня в качестве образца) [default: true]
    B:hideMicroblocks=true
}


