# Configuration file

general {
    # Максимальный размер узла аура при его рендере
    # Защищает от низкого FPS и плохой видимости при наличии узлов на 500+ аспектов [range: 0.5 ~ 1.0E10, default: 1.0]
    S:maxVisualNodeSize=1.0
}


