# Configuration file

general {
    # Уровень добычи для бура [range: 1 ~ 2147483647, default: 100]
    I:drillLvl=100

    # Скрыть рендер заряда заряда GraviSuite если включен IC2 HUD (Не включать, если не имеется IC2 от LuxinfineTeam, иначе будут баги) [default: false]
    B:hideHUD=false

    # Уровень способности ваджры к зачарованию в столе зачарований (0 - не чарится). Чем выше - тем больше шанс на удачное зачарование [range: 0 ~ 2147483647, default: 0]
    I:vajraEnchantableLvl=0

    # Уровень добычи для ваджры [range: 1 ~ 2147483647, default: 100]
    I:vajraLvl=100

    # Включить поддержку зачарований оружия для ваджры (острота и т.п.) [default: false]
    B:vajraSupportWeaponEnchants=false

    # Множитель скорости скручивания(разрушения) грегтеч механизмов грави-инструментом [range: 1.0 ~ 3.4028235E38, default: 8.0]
    S:wrenchBreakSpeed=8.0
}


