# Configuration file

general {
    # Отключение метадаты для токарных форм. Это исправит их вытаскивание их ME системы и возможно ещё некоторые баги, однако сломается рецепт бура и шахтёрского лазера, т.к. там проверка по мете.
    # Если в сборке установлен CraftTweaker рекомендуется отключить метадату и добавить альтернативные рецепты (можно даже точь в точь как в Ic2) буру и лазеру
    # Внимание: Значение должно быть синхронно с сервером [default: false]
    B:disableLatheMetadata=false

    # Сокрытие заполненных универсальных жидкостных капсул в NEI и креативтабе [default: true]
    B:hideCells=true
}


