# Configuration file

general {
    # Максимальная прочность железной головки бура [range: 1 ~ 2147483647, default: 4000]
    I:ironDrillHeadMaxDmg=4000

    # Максимальная прочность стальной головки бура [range: 1 ~ 2147483647, default: 10000]
    I:steelDrillHeadMaxDmg=10000
}


