# Configuration file

##########################################################################################################
# database config
#--------------------------------------------------------------------------------------------------------#
# Настройки базы данных
##########################################################################################################

"database config" {
    # Название базы данных [default: oneblock]
    S:databaseName=oneblock

    # Пароль от базы данных [default: ]
    S:databasePassword=

    # Сколько времени ожидать ответа от базы на запрос [range: 0 ~ 2147483647, default: 20000]
    I:databaseTimeout=20000

    # Ссылка на базу данных [default: mongodb://mongodb]
    S:databaseUrl=mongodb://mongodb
}


