# Configuration file

"cases config" {
    # Сообщения которое будет выводиться всем игрокам когда кто-то выбил редкий предмет [Имя игрока, Цвет кейса, Название кейса, Цвет редкости, Название предмета] [default: §7[§eКейсы§7] §eИгрок §a%d§e открыл %d%d §7и получил §%d%d§7!]
    S:casesBroadcastMessage=§7[§eКейсы§7] §eИгрок §a%d§e открыл %d%d §7и получил §%d%d§7!

    # Минимальная редкость, с которой будет сделан анаонс когда игрок выбил предмет [default: mythic]
    S:casesMinimumRarity=mythic
}


##########################################################################################################
# database config
#--------------------------------------------------------------------------------------------------------#
# Настройки базы данных
##########################################################################################################

"database config" {
    # Название базы данных [default: oneblock]
    S:databaseName=oneblock

    # Пароль от базы данных [default: ]
    S:databasePassword=

    # Сколько времени ожидать ответа от базы на запрос [range: 0 ~ 2147483647, default: 2000]
    I:databaseTimeout=2000

    # Ссылка на базу данных [default: mongodb://localhost:27017/]
    S:databaseUrl=mongodb://localhost:27017/
}


