# Configuration file

##########################################################################################################
# common
#--------------------------------------------------------------------------------------------------------#
# Настройка барьеров по скиллу и его уровню
##########################################################################################################

common {
    # Тут мы указываем команда:уровень'/killall:5' 
    S:attack <
        null:10
		/warp dungeons_floor_1_entry:10
	    /warp dungeons_floor_1_exit:20
        /warp dungeons_floor_2_entry:20
		/warp dungeons_floor_2_exit:30
        /warp dungeons_floor_3_entry:30
		/warp dungeons_floor_3_exit:40
        /warp dungeons_floor_4_entry:40
     >

    # Тут мы указываем команда:уровень'/killall:5' 
    S:mining <
        null:1
     >

    # Тут мы указываем команда:уровень'/killall:5' 
    S:trading <
        null:1
     >
}


