# Configuration file

##########################################################################################################
# database config
#--------------------------------------------------------------------------------------------------------#
# Настройки базы данных
##########################################################################################################

"database config" {
    # Черный список ссылок на плащи [default: [https://s3.streamcraft.net/cloaks/default.png]]
    S:blacklistedCapeUrls <
        https://s3.streamcraft.net/cloaks/default.png
     >

    # Ссылка на скины [default: https://launcher.streamcraft.net/launcher/legacy/skins/skin/%s]
    S:skinsUrl=https://launcher.gribland.net/launcher/legacy/skins/skin/%s
}


