# Configuration file

~CONFIG_VERSION: 1.0

##########################################################################################################
# Blacklisted Mods
#--------------------------------------------------------------------------------------------------------#
# Blacklisted mods
##########################################################################################################

"Blacklisted Mods" {
    # Список названий модов, которые не будут добавляться в modList.txt [default: [MetaModList], [Minecraft Coder Pack], [Forge Mod Loader], [Minecraft Forge], [Mayakplay Cases], [BC Builders], [BC Energy], [BC Factory], [BC Robotics], [BC Silicon], [BC Transport], [BlockLimit], [zscui], [preloader], [Fullscreen Windowed], [Screener], [asjpatcher], [WorldEdit Client User Interface], [What Are We Looking At], [WorldEngine], [neiaddonsth], [Thaumic Energistics Core], [Applied Energistics 2 Core], [MobiusCore], [MineTweakerRecipeMaker], [MrTJPCore], [Thaumic Tinkerer Core], [NullPointer Sky], [GoTo Server], [CoFH ASM], [bspkrsCore], [MapWriter], [FuixBound], [FuixLibrary], [Lucky Anchors], [LuckyRecipeMaker], [MineTweaker 3], [Mod Tweaker 2], [Ob Helper], [Opis], [PacketUnlimiter], [Solar Lib], [TC4 Tweak], [Trading Mod], [WanionLib], [BD Lib], [CoFH Core], [Brandon's Core], [EnderCore], [Mantle], [Barrier Block], [ClientFixer], [optifineRus], [FastCraft], [Inventory Tweaks], [Meta Client], [MineTuner], [MsChat], [NEI Addons], [NEI Addons: Applied Energistics 2], [NEI Addons: Botany], [NEI Addons: Crafting Tables], [NEI Addons: Developer Tools], [NEI Addons: Ex Nihilo], [NEI Addons: Forestry], [NEI Integration], [NEIAddonTH], [Not Enough Items], [OneBlock Panel], [TC Inventory Scanning], [Thaumcraft NEI Plugin], [Waila], [CodeChicken Core], [IC2 Backpack HUD], [IC2 Backpack HUD]]
    S:blackListedMods <
        MetaModList
        Minecraft Coder Pack
        Forge Mod Loader
        Minecraft Forge
        Mayakplay Cases
        BC Builders
        BC Energy
        BC Factory
        BC Robotics
        BC Silicon
        BC Transport
        BlockLimit
        zscui
        preloader
        Fullscreen Windowed
        Screener
        asjpatcher
        WorldEdit Client User Interface
        What Are We Looking At
        WorldEngine
        neiaddonsth
        Thaumic Energistics Core
        Applied Energistics 2 Core
        MobiusCore
        MineTweakerRecipeMaker
        MrTJPCore
        Thaumic Tinkerer Core
        NullPointer Sky
        GoTo Server
        CoFH ASM
        bspkrsCore
        MapWriter
        FuixBound
        FuixLibrary
        Lucky Anchors
        LuckyRecipeMaker
        MineTweaker 3
        Mod Tweaker 2
        Ob Helper
        Opis
        PacketUnlimiter
        Solar Lib
        TC4 Tweak
        Trading Mod
        WanionLib
        BD Lib
        CoFH Core
        Brandon's Core
        EnderCore
        Mantle
        Barrier Block
        ClientFixer
        optifineRus
        FastCraft
        Inventory Tweaks
        Meta Client
        MineTuner
        MsChat
        NEI Addons
        NEI Addons: Applied Energistics 2
        NEI Addons: Botany
        NEI Addons: Crafting Tables
        NEI Addons: Developer Tools
        NEI Addons: Ex Nihilo
        NEI Addons: Forestry
        NEI Integration
        NEIAddonTH
        Not Enough Items
        OneBlock Panel
        TC Inventory Scanning
        Thaumcraft NEI Plugin
        Waila
        CodeChicken Core
        IC2 Backpack HUD
        IC2 Backpack HUD
     >
}


