# Configuration file

general {
    # Set this to false to disable all of particle culling's features.
    # [default: true]
    B:cullingEnabled=true

    # Add particle classes here that should be ignored by Particle Culling.
    # Example: To ignore Minecraft's breaking particles and any derivates, add "net.minecraft.client.particle.ParticleBreaking" to the list
    # [fixed length: no, max length: 256]
    # [max string length: 256, default: "["org.blockartistry.mod.DynSurround.client.fx.particle.EntityJetFX", "com.TominoCZ.FBP.particle.FBPParticleBlock", "xzeroair.trinkets.client.particles.ParticleGreed"]"]
    S:ignoredParticles <
        org.blockartistry.mod.DynSurround.client.fx.particle.EntityJetFX
        com.TominoCZ.FBP.particle.FBPParticleBlock
        xzeroair.trinkets.client.particles.ParticleGreed
     >
}


